<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>37</string>
					<key>EndingLineNumber</key>
					<string>536</string>
					<key>StartingColumnNumber</key>
					<string>31</string>
					<key>StartingLineNumber</key>
					<string>536</string>
					<key>Timestamp</key>
					<string>731251029.615268</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>RS Operativ/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>vessel</string>
				<key>leading</key>
				<string>                            }
                            
                            if </string>
				<key>trailing</key>
				<string>.bw != nil {
                                ForEach(vessel.bw ?? [BW(bwSpeed: 0.0)], id: \.id) { bwData in //ForEach(vessel.bw!, id: \.id) { bwData in
                                    Annotation("", coordinate: CLLocationCoordinate2D(latitude: bwData.bwLatitude ?? 56.0, longitude: bwData.bwLongitude ?? 6.0), anchor: .center, content: {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
